target-version = "py312"
line-length = 100

[lint]
select = [
    "E",   # pycodestyle
    "F",   # pyflakes
    "I",   # import sorting
    
]

fixable = ["ALL"]

[format]
quote-style = "double"
indent-style = "space"
