<!-- Navigation Bar -->
 <nav class ="top-0 bg-white border-b-2">
    <div class ="grid gird-col-3 items-center h-14 max-w-7xl mx-auto px-4">
        <div class="flex items-center gap-6 justify-start">
            <a href="#" class="text-gray-700 hover:text-indigo-600">Home</a>
            <a href="#" class="text-gray-700 hover:text-indigo-600">Shop</a>
            <a href="#" class="text-gray-700 hover:text-indigo-600">About Us</a>
            <a href="#" class="text-gray-700 hover:text-indigo-600">Contact</a>
        </div>
    </div>

 </nav>